[submodule "zim"]
	path = zim
	url = https://github.com/Eriner/zim.git
[submodule "prompts/blox"]
	path = prompts/blox
	url = https://github.com/yardnsm/blox-zsh-theme.git
[submodule "zsh-iterm-touchbar"]
	path = zsh-iterm-touchbar
	url = https://github.com/iam4x/zsh-iterm-touchbar.git
